# only the database superuser password and name are needed for local deployment
DATABASE_SUPERUSER_PASSWORD="SET_SUPERUSER_PASSWORD_HERE"
DATABASE_NAME="shortener"

# all other variables are only required when deploying the entire stack
DATABASE_ORM_PASSWORD="SET_PASSWORD_HERE"
DATABASE_ORM_USERNAME="user_orm"
DATABASE_APP_PASSWORD="SET_PASSWORD_HERE"
DATABASE_APP_USERNAME="user_app"

# those are the two ports docker will bind to your host system
# make sure that they are not already in use
# make sure to protect them with a firewall
# make sure to run them behind a proxy with TLS
# make sure to secure the admin port with basic auth at least
DOCKER_APP_PORT=3001
DOCKER_ADMIN_PORT=3002

# some api routes are secured by bearer token, that the admin tool
# needs to know.
API_BEARER_TOKEN="SET_TOKEN_HERE"

# the following setting creates short urls like https://example.com:3001/[slug]
# LINK_PROTOCOL="https"
# LINK_HOSTNAME="example.com"
# LINK_PORT=3001
#
# the following setting makes sense when spinning up the entire docker stack locally
# this way testing it out works even when clicking links in the frontend
# make sure that LINK_PORT matches DOCKER_APP_PORT in this case
LINK_PROTOCOL="http"
LINK_HOSTNAME="localhost"
LINK_PORT=3001
#
# when deploying to production you can leave LINK_PORT unset. This way short links will
# leave out the port to resolve to something meaningful like https://example.com/[slug]
# LINK_PROTOCOL="https"
# LINK_HOSTNAME="example.com"

