# only these three are necessary for db
DATABASE_SUPERUSER_PASSWORD="SET_SUPERUSER_PASSWORD_HERE"
DATABASE_ORM_PASSWORD="SET_PASSWORD_HERE"
DATABASE_ORM_USERNAME="user_orm"
DATABASE_APP_PASSWORD="SET_PASSWORD_HERE"
DATABASE_APP_USERNAME="user_app"
DATABASE_NAME="shortener"

# those are required when you deploy the entire stack
ADMIN_PORT=3002
ADMIN_TOKEN="SET_TOKEN_HERE"
LINK_PROTOCOL="http"
LINK_HOSTNAME="localhost"
LINK_PORT=3001

