# make sure to set the same credentials as in .env for the compose.yaml
DATABASE_APP_USERNAME="postgres"
DATABASE_APP_PASSWORD="SET_SUPERUSER_PASSWORD_HERE"
DATABASE_NAME="shortener"
DATABASE_URL="postgresql://${DATABASE_APP_USERNAME}:${DATABASE_APP_PASSWORD}@localhost:5432/${DATABASE_NAME}?schema=appschema"
API_BEARER_TOKEN="SET_TOKEN_HERE"
LINK_PROTOCOL="http"
LINK_HOSTNAME="localhost"
LINK_PORT=3001

